
<div class="container">    
    <div *ngFor="let user of userdata">
      <div *ngIf="user.Teststatus==='Upcoming'">
            <div class="container">
                <h5><label class="text-warning">Upcoming Test</label></h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>TestModel</th>
                            <th>TestDate</th>
                            <th>TestStatus</th>
                            <th>Result</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{user.Username}}</td>
                            <td> {{user.Testmodel}}</td>
                            <td> {{user.Testdate | date: "MM/d/y"}} </td>
                            <td> <label class="text-warning">{{user.Teststatus}}</label> </td>
                            <td> {{user.Result}}</td>
                            <td> <button class="btn btn-outline-success" id="TakeTest"
                                    (click)="onclick(user.Testmodel,user.Testdate,user.Testid)">Take test</button>&nbsp;&nbsp;
                             <button  class="btn btn-outline-danger" id="TestCancel"
                                    (click)="TestCancel(user.Testid)">cancel</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf ="user.Teststatus!='Upcoming'">
                <label>NO TEST FOUND</label>
            </div>
        </div>
  
</div>