<div class="background"> 
</div>
<div class="backgroundBottom">   
  </div>
<br><br><br>

<div class="homePageButtons"> 
  <button class="btn btn-primary" (click)="adminClick()"></button>


  <button class="btn btn-primary" (click)="userClick()"></button>

  <button class="btn btn-primary" (click)="paymentClick()"></button>


  <button class="btn btn-primary" (click)="scoreClick()"></button>

  <!-- <div class="btn btn-primary" align="center" (click)="adminClick()"><a class="userdetails" 

       rel="nofollow noopener">Admins</a>
  </div>
  <br>
  <div class="btn btn-primary" align="center" (click)="userClick()"><a class="exam" 
        rel="nofollow noopener">Users Details</a>
  </div>
  <br>
  <div class="btn btn-primary" align="center" (click)="paymentClick()"><a class="examreg" 
        rel="nofollow noopener">User Payments</a>
  </div>
  <br>
  <div class="btn btn-primary" align="center" (click)="scoreClick()"><a class="results" 
       rel="nofollow noopener">User Scores</a>
  </div> -->
  <div>
       
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
