<!--  <div *ngFor="let admins of admin">
AdminName: {{admins.Admin_name}}
<br/>
AdminEmail: {{admins.Admin_email}}
<br/>
AdminPhone: {{admins.Admin_phone}}
<br/>
AdminUsername: {{admins.Admin_username}} 
<br/>
<br/>
</div> -->
<label>Admin Details</label>
                        
<section id="principal-content">
    <div class="container bootstrap snippet" *ngFor="let admins of admin">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <div class="row" id="design" >
                        <div class="col-md-4 col-md-offset-1" >
                                <div class="home-design-info" >
                                    <figure>
                                        <img  [src]="admins.Admin_Image">
                                    </figure>
                                </div>	
                        </div> 	
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                    
                                </p>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 col-md-offset-1">
                                <div class="home-design-info" >
                                    <figure>
                                        <img class="img-circle" src="/assets/images/aravind pic.jpg">
                                    </figure>
                                </div>	
                        </div> 	
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                                <div class="home-design-info" >
                                    <figure>
                                        <img class="img-circle" src="/assets/images/sp pic.jpg">
                                    </figure>
                                </div>	
                        </div> 	
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                                <div class="home-design-info" >
                                    <figure>
                                        <img class="img-circle" src="/assets/images/My Pic.jpg">
                                    </figure>
                                </div>	
                        </div> 	
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                                <div class="home-design-info" >
                                    <figure>
                                        <img class="img-circle" src="/assets/images/sowmeya pic.jpg">
                                    </figure>
                                </div>	
                        </div> 
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                                <div class="home-design-info" >
                                    <figure>
                                        <img class="img-circle" src="/assets/images/anusha pic.jpg">
                                    </figure>
                                </div>	
                        </div>	
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                                <div class="home-design-info" >
                                    <figure>
                                        <img class="img-circle" src="/assets/images/priya pic.jpg">
                                    </figure>
                                </div>	
                        </div> 	
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                                <div class="home-design-info" >
                                    <figure>
                                        <img class="img-circle" src="/assets/images/shivaganesh pic.jpg">
                                    </figure>
                                </div>	
                        </div> 
                        <div class="col-md-6" id="details">
                            <div class="deets">
                                <p> <strong>{{admins.Admin_username}}</strong><br/>
                                    Name : {{admins.Admin_name}} <br/>
                                    Phone : {{admins.Admin_phone}}<br/>
                                    Mail ID : {{admins.Admin_email}}
                                </p>
                            </div>
                        </div> -->
                    </div> 
                </article>
            </div>	
        </div>	
    </div>
</section>                     